

<app-logo-page *ngIf="isLoadding"></app-logo-page>
  <ion-grid *ngIf="!isLoadding">
    <ion-row>
    <ion-col size-md="8" offset-md="2" size-lg="4" offset-lg="4">
      <ion-row>
        <ion-col size-xs="6" class="ion-no-padding" *ngFor="let category of categories">
          <div class="prod-wrapper">
            <img alt="category" [routerLink]="'/tabs/category-content/' + category._id" [src]='category.image.path'/>
            <span class="name">{{category.name}}
              <ion-icon *ngIf="isAdmin" name="create-outline" style="font-size: 22px; margin-left: 8px;"(click)="onEdit(category._id)"></ion-icon>
            </span>
          </div>
        </ion-col>
      </ion-row>
    </ion-col>
    </ion-row>
  </ion-grid>


