<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon src="../../../assets/icon/arrow-back-outline.svg" class="icon"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
     {{sub ? 'Alege o Opțiune': 'Alege Extra'}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="pick()">
       <ion-button>Alege</ion-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="option-grid" *ngIf="sub">
    <ion-row class="option-row">
      <ion-col size="12">
        <ion-list>
          <ion-radio-group value="end" [(ngModel)]="selectedOption">
            <div *ngFor="let option of options; let i = index;">
              <ion-item  lines="none" class="input" *ngIf="option.available">
                <ion-radio mode="md" [value]="option" justify="start" labelPlacement="end">{{option.name+ ' - ' + option.price + ' Lei'}}</ion-radio>
              </ion-item>
            </div>
          </ion-radio-group>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="option-grid" *ngIf="!sub">
    <ion-row class="option-row">
      <ion-col size="12">
        <ion-list>
          <div class="input wrapper" *ngFor="let option of options; let i=index;">
            <ion-item  lines="none" class="topping-name">
                <ion-checkbox [value]="option"  justify="start" labelPlacement="end" (ionChange)="onCheckboxChange(option, i)" [disabled]="option.counter > 1">{{option.name.split('/')[0]}}{{ option.price > 0 ? ' + ' + option.price + ' Lei' : '' }}</ion-checkbox>
              </ion-item>
              <ion-button size="medium" color="secondary"(click)="redTopping(i)" *ngIf="option.counter && option.counter > 1">-</ion-button>
              <span class="qty" *ngIf="option.counter && option.counter > 1">{{option.counter}}</span>
              <ion-button size="medium" color="secondary"(click)="addTopping(i)" *ngIf="option.checked">+</ion-button>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row class="button-row" *ngIf="sub">
      <ion-col size="12">
        <ion-button color="primary" expand="block" size="large"(click)="pick()" [disabled]="!selectedOption">Alege</ion-button>
      </ion-col>
    </ion-row>
  <ion-row class="button-row" *ngIf="!sub">
    <ion-col size="6" >
      <ion-button color="danger" expand="block" size="large"(click)="back()">Renunță</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button color="primary" expand="block" size="large"(click)="pick()">Alege</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-footer>
