<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/tabs/cart'" class="dark"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button>
        <img id="like" src="assets/icon/black-social-media.png" alt="icon">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <section>
    <h1>Politică privind fișierele cookie
    </h1>
    <h2>1.Informații generale despre fișierele cookie</h2>
    <p><span>Ce sunt?</span></p>
    <p>Fișierele Cookie sunt fișiere mici pe care website-urile le trimit către browser și care sunt stocate pe terminalul utilizatorului, ce ar putea fi computer personal, telefon mobil, tabletă sau orice alt dispozitiv.</p>
    <p><span>Care este rolul acestora?</span></p>
    <p>
      Acestea au un rol esențial în furnizarea numeroaselor servicii IT. Printre alte funcții, acestea permit unui website să stocheze și să recupereze informații cu privire la obiceiurile de navigare ale utilizatorului sau privind echipamentul acestuia și, în funcție de informațiile obținute, pot fi utilizate pentru a recunoaște utilizatorul și a îmbunătăți serviciul oferit printr-un website și/sau aplicație.
    </p>
    <p><span>Ce tip de fișier cookie există?</span></p>
    <p>Fișierele cookie pot fi utilizate împreună sau separat și pot fi clasificate conform diferitelor criterii, în funcție de: <br> <br>
    <span>Scop</span> (fișiere cookie tehnice, pentru analiză, personalizate, astfel cum este definit în Secțiunea 3 a acestei Politici). <br><br>
    <span>Entitatea de gestionare</span> (fișiere cookie stabilite de domeniul website-ului vizitat de Utilizator sau fișiere cookie a unei terțe părți, fiind cele stabilite și gestionate de diferite domenii pentru website-ul vizitat cu scopul de a putea transmite utilizatorilor anunțuri publicitare). <br> <br>
    <span>Durata activității sau de reținere ori stocare</span> (fișiere cookie per sesiune sau permanente) etc.
    </p>
  </section>
  <section>
    <h2>2. Reglementarea fișierelor cookie</h2>
    <p>În conformitate cu cerințele GDPR, diferitele reglementări locale ce ar putea fi aplicabile în funcție de teritoriu și reglementările Curții Europene de Justiție și ale diferitelor autorități locale privind protecția datelor.
    </p>
    <p class="no-intend">
      Utilizatorul trebuie să aibă acces la <span>informații clare și detaliate privind activitățile de procesare a datelor îndeplinite prin folosirea fișierelor cookie</span> și <br><br>
      Utilizatorul trebuie să aibă <span>posibilitatea de a:</span> <br><br>
     <span> a) respinge toate fișierele cookie, </span> <br>
     <span> b) accepta toate fișierele cookie, </span><br>
     <span> c) accepta sau respinge fișierele cookie după caz</span> printr-o acțiune expresă.
    </p>
  </section>
  <section>
    <h2>3. Afla despre activitățile noastre privind fisierele cookie</h2>
    <h4> Identitatea Operatorului de date și de fișiere cookie, precum și al Responsabilului de Protecția Datelor (DPO) </h4>
    <p class="no-intend">
      - SC Slayer CUP, S.R.L. în nume propriu (denumit în continuare „True Fine Coffee”) <br>
      - Entitatea menționată anterior se angajează să vă protejeze informațiile personale atunci când utilizați website-ul și aplicațiile noastre și vă oferă următoarele informații cu privire la utilizarea fișierelor Cookie pe platforma sa online. <br><br>
     <span>Contact DPO:</span>gdpr@truefinecoffee.ro</p>
      <p>
      <h4>2. Fișierele cookie pe care le utilizăm și scopul acestora</h4>
      <p class="no-intend">
        True Fine Coffee poate utiliza diferite tipuri de fișiere cookie, care pot fi verificate în mod liber și gestionate de utilizator la accesarea website-ului. Astfel, fișierele cookie sunt descrise ca: <br><br>
       <span>Fișiere cookie proprii.</span> Sunt cele transmise utilizatorilor terminalului de pe un computer sau domeniu gestionat de True Fine Coffee și de pe care este furnizat serviciul solicitat de utilizator. <br><br>
        <span>Cookie terță parte.</span> Sunt cele transmise către terminalul utilizatorilor de pe un computer sau domeniu gestionat de True Fine Coffee și de pe care este furnizat serviciul solicitat de utilizator, dar pentru altă entitate decât cea care procesează datele colectate prin fișierele cookie. <br><br>
       <span>Cookie pentru sesiuni.</span> Acestea sunt un tip de fișiere cookie create pentru a colecta și stoca informații în timp ce utilizatorul accesează un website. Aceste fișiere cookie nu sunt stocate pe computer-ul utilizatorului când sesiunea expiră sau browserul este închis. <br><br>
       <span>Cookie-uri funcționale.</span> Acestea sunt un tip de cookie-uri în care datele continuă să fie stocate pe terminalul utilizatorului și pot fi accesate și procesate într-o perioadă astfel cum este stabilit de responsabilul respectivului fișier, cu un interval de la câteva minute la câțiva ani. Fișierele cookie funcționale permit website-ului să funcționeze adecvat și astfel sunt necesare și nu opționale. Totuși, utilizatorul le poate șterge oricând. De asemenea, limitarea funcțiilor acestora va depinde de browser-ul folosit de utilizator. <br><br>
       <span>Cookie tehnice.</span> Acestea sunt fișiere cookie ce permit utilizatorului să navigheze pagina Web, platforma sau aplicația și de a folosi diferite opțiuni sau servicii în cadrul acestora, de exemplu de a controla traficul și comunicarea datelor, de a identifica sesiunea, de a accesa zone restricționate ale website-ului, de a înregistra elementele ce vor forma o comandă, de a face un abonament sau o solicitare de a participa la un eveniment, de a utiliza elemente de securitate în timpul navigării, de a stoca conținut pentru a transmite videoclipuri sau sunete sau pentru a partaja conținut prin rețelele sociale. <br><br>
       <span>Cookie de personalizare.</span> Acestea sunt fișiere cookie ce permit utilizatorului să acceseze serviciul conform anumitor caracteristici generale, predefinite conform unor criterii de pe terminalul utilizatorului, de exemplu, limbă, tipul browserului utilizat pentru a accesa serviciul, configurația regională de unde este accesat serviciul etc. <br><br>
       <span>Cookie pentru analiză.</span> Acestea permit proprietarului monitorizarea și analiza comportamentului utilizatorilor website-ului cu care sunt interconectate. Informațiile colectate prin aceste fișiere cookie sunt utilizate pentru a măsura activitatea website-ului, platformelor sau aplicației și pentru a crea profilul de navigare al utilizatorilor pe website, platformă sau aplicație, în vederea îmbunătățirii website-ului pe baza acestor analize. <br><br>
      </p>
  </section>
  <section>
    <h2>4. Gestionarea fisierelor dvs. cookie</h2>
    <p>
      Când navigați pe acest website pentru prima dată, va apărea un banner cookie ce va permite Utilizatorului să aleagă ce fișiere cookie să salveze în browserul propriu folosit: <br><br>
      - Pentru a le accepta pe toate și a continua navigarea: banner-ul de cookies nu va fi afișat din nou și se va presupune că Utilizatorul a acceptat această Politică de Cookie. <br><br>
      - Pentru a dezactiva categoriile selectate de cookies (cu excepția celor care sunt esențiale pentru funcționarea website-ului). <br><br>
      - Pentru a dezactiva toate fișierele cookie (cu excepția celor care sunt esențiale pentru funcționarea website-ului). În acest caz, website-ul va stoca doar acele fișiere cookie ce sunt necesare Utilizatorului pentru a folosi website-ul.<br><br>
      - Pentru a modifica setările urmând instrucțiunile cuprinse în prezenta și acceptarea sau dezactivarea unora dintre fișierele cookie sau doar pentru a afla mai multe informații despre fișierele cookie, consultați Politica noastră privind cookie-urile.<br><br>
      - Veți putea accesa și gestiona în orice moment acordul dvs. actual privind fișierele cookie și a verifica fișierele exacte pe care True Fine Coffee le utilizează.
    </p>
    <p>
      De asemenea, orice conținut reprodus ce ar putea redirecționa utilizatorul prin link-urile incluse pe website sau mijloacele deținute de True Fine Coffee într-un format diferit poate conține fișiere cookie de la proprietarii respectivului conținut. În acest caz, True Fine Coffee nu va fi considerat responsabil nici pentru informațiile sau politicile furnizate către utilizator cu privire la fișierele cookie ce sunt create de terțe părți.
      În această situație, utilizatorul nu își exprimă acordul cu privire la procesarea unor astfel de informații, acesta putându-și modifica setările browserului respectând în acest sens informațiile și sfaturile incluse în linkurile prezentate în această politică cu privire la setările fișierelor cookie:
    </p>
  </section>
  <section>
    <h2>5. Alte informații relevante</h2>
    <p>True Fine Coffee nu va fi considerată responsabilă pentru utilizarea fișierelor cookie create de terțe părți în afara serviciilor oferite de canalele și mijloacele deținute de True Fine Coffee.</p>
  </section>
  <section>
    <h2>Obținerea mai multor informații</h2>
    <p>
      Utilizatorii pot contacta True Fine Coffee la următoarea adresă e-mail gdpr@truefinecoffee.ro pentru a obține informații cu privire la fișierele cookie.
    </p>
  </section>
</ion-content>
