<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="triggerEscape()">
        <ion-icon name="arrow-back-outline" style="font-size: 22px"></ion-icon>
        <!-- <span style="font-size: 20px">BACK</span> -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="auth-wrapper">
  <div class="header">
    <h4 class="subtitle">Register</h4>
  </div>
  <ion-grid>
    <form [formGroup]="form">
  <ion-row>
    <ion-col >
      <ion-item lines="none">
        <ion-input label="Name" labelPlacement="floating"  type="text" name="name" size=1 formControlName="name">
        </ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input label="Email" labelPlacement="floating"  type="email" name="email" email formControlName="email">
        </ion-input>
      </ion-item>
      <ion-note *ngIf="!form.get('email')?.valid && form.get('email')?.touched">Invalid email</ion-note>
        <ion-item lines="none">
          <ion-input
          label="Password"
          labelPlacement="floating"
          type="password"
          formControlName="password"
          name="password"
          minlength="6" required
          [type]="getInputType()"
          ></ion-input>
          <ion-icon [name]="iconName" slot="end" (click)="togglePassword()"></ion-icon>
        </ion-item>
        <ion-item lines="none">
          <ion-input
          label="Confirm Password"
          labelPlacement="floating"
          type="password"
          formControlName="confirmPassword"
          name="confirmPassword"
          minlength="6" required
          [type]="getInputType()"
          #confirmPassword
          ></ion-input>
          <ion-icon [name]="iconName" slot="end" (click)="togglePassword()"></ion-icon>
        </ion-item>
        <ion-note *ngIf="form.hasError('match_error')">
          Passwords don't match
        </ion-note>
      </ion-col>
    </ion-row>
    <ion-row [ngClass]="{'hide': !form.valid}">
      <ion-col size-xs="12" >
          <div class="termeni-wrapper">
            <ion-checkbox justify="end" labelPlacement="end" (ionChange)="checked($event)" [ngClass]="{'hide': !form.valid}">Am citit și sunt de acord cu</ion-checkbox>
            <a id="termeni" (click)="goTerms()" [ngClass]="{'hide': !form.valid}">termenii și condițiile</a>
          </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="primary" (click)="onSubmit()" class="ion-padding submit" size="large" expand="full" [disabled]="!enableRegister">
          <ion-label>
            Register
          </ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
    </ion-grid>
  </ion-content>
