
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="triggerEscape()">
        <ion-icon name="arrow-back-outline" style="font-size: 22px;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

 <ion-content class="auth-wrapper">
   <div class="header">

     <h4 class="subtitle"*ngIf="!resetPasswordMode">Login</h4>
     <h4 class="subtitle"*ngIf="resetPasswordMode">Reset</h4>
    </div>
    <ion-grid>
        <form [formGroup]="form">
        <ion-row *ngIf="!resetPasswordMode">
          <ion-col>
              <ion-item lines="none">
                <ion-input label="Email" labelPlacement="floating"  type="email" name="email" formControlName="email">
                </ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-input
                label="Password"
                labelPlacement="floating"
                type="password"
                formControlName="password"
                name="password"
                minlength="6" required
                [type]="getInputType()"
                ></ion-input>
                <ion-icon [name]="iconName" slot="end" (click)="togglePassword()"></ion-icon>
              </ion-item>
          </ion-col>
        </ion-row>
          <ion-row *ngIf="!resetPasswordMode">
            <ion-col>
              <ion-button color="primary" (click)="onSubmit()" class="ion-padding submit" size="large" expand="full" [disabled]="!form.valid">
                <ion-label style="color:white;">
                  Login
                </ion-label>
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
        <ion-row>
          <ion-col size-xs="6" offset-xs="3" class="ion-text-center ion-margin">
            <span class="or">Or</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-xs="6" offset-xs="3" class="ion-text-center">
            <span (click)="onRegister()" class="register">Register</span>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="resetPasswordMode">
          <ion-col class="ion-text-center">
            <ion-item lines="none">
              <ion-input label="Email" labelPlacement="floating"  type="text" [(ngModel)]="emailValue" (input)="validateEmail()" >
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="resetPasswordMode">
          <ion-col>
            <ion-note class="note">Introdu adersa de mail folosită!</ion-note>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="resetPasswordMode">
          <ion-col>
            <ion-button color="danger" (click)="sendNewPassword()" class="ion-padding" size="medium" expand="full" [disabled]="!validEmail">
              <ion-label>
                Resetează
              </ion-label>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="resetPassword && !resetPasswordMode">
          <ion-col>
            <ion-button color="danger" (click)="onResetPassword()" class="ion-padding" size="small" expand="full">
              <ion-label>
                Resetează parola!
              </ion-label>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      </ion-content>


