<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="triggerEscape()">
        <ion-icon name="arrow-back-outline" style="font-size: 22px"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Registe or Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="auth-wrapper">
  <div class="header">
    <ion-label class="title">Pentru a putea lasa o comanda, <br> avem nevoie de datele tale!</ion-label>
    <p class="first-p">Intră în cont!</p>
    <ion-button size="small" class="login" color="success"  (click)="onSignIn()">Login</ion-button>
    <p class="second-p">Nu ai unul?</p>
    <p class="third-p">Te invităm să te înregistrezi!</p>
    <p class="second-p" style="margin-top: 2px;">Pentru 5% Cash Back în aplicatie!</p>
    <ion-button size="small" class="login" color="secondary"  (click)="onRegister()">Register</ion-button>
      <!-- <span (click)="onRegister()" class="register">Register</span> -->
      <p class="second-p" *ngIf="!mode">Sau</p>
      <p class="third-p" *ngIf="!mode">Plătește online fară cont!</p>
      <ion-button size="small" class="login" color="success" (click)="triggerEscape()" *ngIf="!mode">
        <ion-icon name="arrow-back-outline"></ion-icon>
        Înapoi</ion-button>
  </div>
</ion-content>

