

<ion-content [fullscreen]="true">
  <ion-grid style="margin-top: 4rem;">
    <ion-row>
      <ion-col size="6" *ngFor="let icon of icons" class="icon-col">
          <ion-icon [src]="icon.url" class="icon" (click)="action(icon)"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="showShedule">
  <div class="shedule-wrapper">
    <span class="title">OPEN DAILY</span>
    <span class="hours">8am - 10pm</span>
    <ion-icon class="icon" src="../../../assets/icon/sageata.svg"></ion-icon>
  </div>
</ion-footer>
<ion-footer *ngIf="!showShedule">
  <div class="cup-wrapper">
    <ion-icon class="cup" src="../../../assets/normal mode/cana.svg"></ion-icon>
  </div>
</ion-footer>
