<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/tabs/' + backTab" style="color: black"></ion-back-button>
      <ion-button (click)="showActions()" *ngIf="isAdmin">
        <ion-icon  name="add-outline" style="color: black"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{categoryName}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button>
        <img id="like" src="assets/icon/black-social-media.png" alt="icon">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-badge slot="fixed" class="bagde" *ngIf="isLoggedIn">
    <ion-icon name="cash-outline" id="cash-icon"></ion-icon>
    <span>{{user.cashBack}} Lei</span>
    </ion-badge>
  <ion-grid>
    <ion-row>
      <ion-col size-md="8" offset-md="2" size-lg="4" offset-lg="4">
        <ion-row *ngFor="let product of products; let z = index" class="product-row">
          <ion-col size-xs="5" class="ion-no-padding"  *ngIf="isAdmin || (product.available && !isAdmin)">
            <img alt="product" [src]='product.image.path' [routerLink]="'/tabs/product-content/' + product._id + '/'+ z"/>
          </ion-col>
          <ion-col size-xs="7"  class="ion-no-padding description">
            <div style="width:100%;" *ngIf="isAdmin || (product.available && !isAdmin)">
              <div class="prod-name-row">
                <span class="name">{{product.name}}<ion-icon *ngIf="isAdmin" name="create-outline" style="font-size: 22px;"(click)="editProd(product._id, z)"></ion-icon></span>
                <span class="qty">{{product.qty}}</span>
              </div>
              <div class="sub-prod" *ngIf="product.subProducts.length">
                <div *ngFor="let subProd of product.subProducts; let i = index;" >
                    <ion-row class="sub-prod-row" *ngIf="isAdmin || (subProd.available && !isAdmin)">
                      <ion-col size-xs="6" class="ion-no-padding name-col" >
                        <span class="sub-name" [ngClass]="{'small': product.subProducts.length > 3}">{{subProd.name}}</span>
                      </ion-col>
                      <ion-col size-xs="4" class="ion-no-padding price-col ion-text-center" *ngIf="!isAdmin">
                        <span class="sub-price">{{subProd.price}} Lei</span>
                      </ion-col>
                      <ion-col size-xs="2" class="ion-no-padding cart-col" (click)="saveToCart(subProd, z)" *ngIf="!isAdmin">
                        <img src="assets/icon/shopping.png" class="sub-cart" alt="cart">
                        <div class="cart-wrapper" *ngIf="subProd.quantity > 0">
                          <span class="badge">{{subProd.quantity}}</span>
                        </div>
                      </ion-col>
                      <ion-col size-xs="1" class="ion-no-padding edit" *ngIf="isAdmin">
                        <ion-icon name="create-outline" style="font-size: 22px;" (click)="editSub(subProd._id, z, i)"></ion-icon>
                      </ion-col>
                      <ion-col size-xs="2" class="ion-no-padding">
                         <ion-button size="small" color="primary" [disabled]="subProd.available" (click)="activateProduct(subProd._id, z, i)" style="font-size:12px ;" *ngIf="isAdmin">Act</ion-button>
                      </ion-col>
                      <ion-col size-xs="2" class="ion-no-padding">
                        <ion-button size="small" color="primary" [disabled]="!subProd.available" (click)="deactivateProduct(subProd._id, z, i)" style="font-size:12px ;" *ngIf="isAdmin">Dez</ion-button>
                      </ion-col>
                    </ion-row>
                  </div>
              </div>
              <div class="prod-description"*ngIf="!product.subProducts.length">
                <div class="description-container">
                  <span class="desc">{{product.description}}</span>
                </div>
                <ion-grid class="ion-no-padding">
                  <ion-row class="cart-row">
                    <ion-col size-xs="8" class="ion-no-padding" >
                      <span class="price">{{product.price}} LEI</span>
                    </ion-col>
                    <ion-col size-xs="4" class="ion-no-padding ion-text-center" (click)="saveProdToCart(product, z)">
                      <img src="assets/icon/shopping.png" alt="cart" class="sub-cart">
                      <div class="cart-wrapper"*ngIf="product.quantity > 0">
                        <span class="badge-prod">{{product.quantity}}</span>
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngIf="isAdmin">
                    <ion-col size-xs="5">
                       <ion-button size="small" [disabled]="product.available" (click)="activateProduct(product._id, z, 99)">Activează</ion-button>
                    </ion-col>
                    <ion-col size-xs="4">
                      <ion-button size="small" [disabled]="!product.available" (click)="deactivateProduct(product._id, z, 99)">Dezactivează</ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


