<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()"[disabled]="isLoading">Cancel</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Edit</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" [strong]="true" id="present-alert"><ion-icon name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="confirm()" type="submit" [disabled]="!form.valid || isLoading" [strong]="true">Confirm
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <app-logo-page *ngIf="isLoading"></app-logo-page>
  <form [formGroup]="form" *ngIf="!isLoading">
  <ion-item>
    <ion-input mode="ios" type="text" label="Product Name" labelPlacement="floating" fill="outline" formControlName="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input mode="ios" type="text" label="Product quantity" labelPlacement="floating" fill="outline" formControlName="qty"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input  mode="ios" type="number" label="Price" labelPlacement="floating" fill="outline" formControlName="price"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input  mode="ios" type="number" label="Order" labelPlacement="floating" fill="outline" formControlName="order"></ion-input>
  </ion-item>
  <ion-item>
    <ion-textarea  mode="ios" type="text" label="Description" labelPlacement="floating" fill="outline" formControlName="description"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-textarea  mode="ios" type="text"  id="longDesc" autoGrow="true" label="Long Description" labelPlacement="floating" fill="outline" formControlName="longDescription"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-select  mode="ios" aria-label="category" placeholder="Select Category" formControlName="category">
      <ion-select-option *ngFor="let category of categories" [value]="category._id">{{category.name}}</ion-select-option>
    </ion-select>
  </ion-item>

    <app-image-picker (imagePick)="onImagePicked($event)"></app-image-picker>
    <!-- <div class="nutrition">
      <h3>Nutrition</h3>
      <ion-item>
        <ion-textarea  mode="ios" type="text" label="Allergens" labelPlacement="floating" fill="outline" formControlName="allergens"></ion-textarea>
      </ion-item>
      <ion-note color="primary">After each allergen add "/"</ion-note>
      <ion-item>
        <ion-input  mode="ios" type="number" label="Energy Value kcal" labelPlacement="floating" fill="outline" formControlName="kcal"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input  mode="ios" type="number" label="Fats g" labelPlacement="floating" fill="outline" formControlName="allFat"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input  mode="ios" type="number" label="Saturated Acids g" labelPlacement="floating" fill="outline" formControlName="satAcids"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input  mode="ios" type="number" label="Carbohydrates g" labelPlacement="floating" fill="outline" formControlName="allCarbs"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input  mode="ios" type="number" label="Sugars g" labelPlacement="floating" fill="outline" formControlName="sugars"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input  mode="ios" type="number" label="Salt g" labelPlacement="floating" fill="outline" formControlName="salt"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input  mode="ios" type="text" label="Additives" labelPlacement="floating" fill="outline" formControlName="additives"></ion-input>
      </ion-item>
    </div> -->

  </form>
  <ion-alert
  trigger="present-alert"
  header="Sterge"
  message="Esti sigur ca vrei să stergi produsul?"
  [buttons]="alertButtons"
></ion-alert>
  </ion-content>
