<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-no-padding ion-text-start">
      <img [src]="imgPath" alt="logo-icon" *ngIf="imgPath.length">
      <ion-label class="title">{{title}}</ion-label>
    </ion-title>
    <ion-buttons *ngIf="title === 'Live Orders'" slot="end" style="margin-right:30%;">
      <ion-button (click)="play()">
        <ion-icon *ngIf="!on" name="volume-mute-outline" color="medium" class="volume"></ion-icon>
        <ion-icon *ngIf="on" name="volume-high" color="medium" class="volume"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons *ngIf="title === 'Casă'" slot="end"  style="margin-right:30%;">
      <ion-button (click)="openAddEntry()">
        <ion-icon name="add-circle" color="medium" class="volume"></ion-icon>
      </ion-button>
    </ion-buttons>
  <ion-buttons slot="end" *ngIf="user">
    <ion-button (click)="blackList()" *ngIf="isAdmin && title !== 'Casă'">
      <ion-icon class="dark" name="close-sharp"></ion-icon>
    </ion-button>
    <ion-button  (click)="showActions()" *ngIf="isAdmin && title !== 'Casă'">
      <ion-icon class="dark" name="add-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="openLogin()"*ngIf="!isLoggedIn">
      <ion-icon class="dark" name="people-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="logout()" *ngIf="isLoggedIn">
      <ion-icon class="dark" name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end" *ngIf="user">
    <ion-menu-button>
      <ion-icon name="key-outline" *ngIf="user.admin === 1" color="medium" style="margin-left: 20px; font-size: 28px"></ion-icon>
      <img id="like" src="assets/icon/black-social-media.png" alt="" *ngIf="user.admin === 0">
    </ion-menu-button>
  </ion-buttons>
<!-- <ion-title style="font-size:18px;" class="ion-no-padding ion-text-center">{{tab | capitalize}}</ion-title> -->
  </ion-toolbar>
</ion-header>
