ion-toolbar{
  --background: #f4ede6;
  height: 50px;
  font-family: NoirProLight, sans-serif !important;
}

p{
  font-size: 15px;
}

img{
  height: 25px;
}

.dark{
  color: black
}



#like{
  height: 35px;
  width: 40px;
}
 ion-title ion-label{
  font-family: NoirPro !important;
  font-size: 25px;

 }

 ion-title {
  margin-left: 13px;
 }

ion-badge{
  display: flex;
  justify-content: center;
  --color: white;
  font-size: 18px;
  font-weight: 400;
  // margin-right: 15px;
}
#cash-icon{
  font-size: 22px;
  margin-right: 4px;
 }


.cart-wrapper{
  display: flex;
  position: absolute;
  height: 100%;
}

@media(max-width: 420px) {
  ion-badge{
    font-size: 13px;
  }
  ion-title span{
    font-size: 16px;
  }
  #cash-icon{
    font-size: 12px;
    margin-right: 4px;
   }
   ion-toolbar{
    height: 40px;
   }
   ion-icon{
    font-size: 24px;
   }
   img{
    height: 22px;
  }
  #like{
    height: 35px;
    width: 38px;
  }

}

@media(max-width: 321px){
  ion-title span{
    font-size: 12px;
  }
  ion-badge{
    margin-right: 0;
  }
  ion-badge span {
    font-size: 12px;
  }
  #cash-icon{
    font-size: 12px;
  }
  img{
    height: 18px;
  }
  ion-icon{
    font-size: 22px;
  }
  #like{
    height: 32px;
    width: 35px;
  }
}
