
img{
  width: 20px;
  height: 20px;
}

ion-tab-bar{
  --background: #f4ede6 !important;
  height: 55px;
}

.tab{
  color: black;
}

ion-label{
  margin-top: 6px;
  font-family: NoirProLight, sans-serif;
  font-weight: 100;
  font-size: 13px;
}

.tab.tab-selected{
  background-color: white;
  color: black;
}

.badge{
  font-family: Arial, Helvetica, sans-serif !important;
  margin-top: auto;
  display: inline-block;
  border-radius: 50%;
  background-color:var(--ion-color-primary);
  color: white;
  padding: 3px 6px;
  position: relative;
  bottom: 36px;
  left: 16px;
  font-size: 10px !important;
  font-weight:bolder;
}


.cart-wrapper{
  display: flex;
  position: absolute;
  height: 100%;
}

@media(max-width: 300px) and (min-height: 610px){
  ion-tab-button{
   width: 15px;
  }
  ion-label{
    font-size: 10px;
  }
}
