<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/tabs/cart'" class="dark"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button>
        <img id="like" src="assets/icon/black-social-media.png" alt="icon">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <section>
  <h1 class="ion-text-center">Termeni și condiții</h1>
  <p>Acești termeni generali de utilizare  (în continuare, „Condiții generale”) se aplică site-ului web al https://true-meniu-web.app (în continuare, „True Fine Coffee”), al cărui domeniu este https://truefinecoffee.ro. Site-ul aparține companiei True Fine Coffee. Prin prezentul, True FIne Coffee pune la dispoziția utilizatorilor (în continuare, „Utilizatorul” sau „Utilizatorii”), site-ul (în continuare, „Aplicația”).</p>
  <p>În conformitate cu prevederile legislației aplicabile, sunt prezentate mai jos detaliile de identificare ale proprietarului site-ului: <br>
   - Denumire juridică: Slayer CUP SRL; <br>
   - Sediu social: Str Piața Unirii nr 7; <br>
   - Număr înregistrare: J22/3312/2021; <br>
   - Cod fiscal RO44994432.
  </p>
</section>
<section>
  <h2>1.Obiect</h2>
  <p>
    True Fine Coffee este o companie de ce activează în industria HORECA a cărei activitate principală este de a oferi clienților săi preparate culinare și băuturi prin intermediul locației sale situate în Jud Iasi, strada Ioan Bacalu nr 4, complex Palas Campus, numită “True Fine Coffee” (în continuare, “Cafenea”). Ca și activitate secundară, compania gestionează o platformă tehnologică prin intermediul căreia clienții Cafenelei pot plasa și plăti comenzi de produse penru ca acestea să fie livrate ulterior către client în Cafenea.
    Prin accesarea Site-ului și prin crearea voluntară a unui profil, toți Utilizatorii, recunosc și sunt de acord în mod expres și neechivoc cu acești Termeni Generali, precum și cu Politica de Confidențialitate și Politica cookies disponibile online. Orice Utilizator care nu este de acord cu acești Termeni și/sau Politici generale trebuie să se abțină de la utilizarea acestora.
  </p>
  <h2>2.Accesul și înregistrarea Utilizatorului</h2>
  <h3>2.1.Cerințe de bază pentru Înregistrare</h3>
  <p>
    Pentru a fi un Utilizator înregistrat al Aplicației, este esențială îndeplinirea următoarelor cerințe: <br>
    - Utilizatorii trebuie să completeze în întregime câmpurile obligatorii ale formularului de înregistrare prin care se solicită detalii personale, cum ar fi numele de Utilizator, adresa de e-mail, și numărul cardului bancar;<br>
    - Utilizatorii trebuie să citească cu atenție acești Termeni generali de utilizare când accesează Aplicația. În plus, acceptarea Termenilor Generali este un pas esențial care trebuie făcut înainte de înregistrare. <br>
    - Utilizatorii trebuie să accepte <a href="/privacy-policy">Politica de confidențialitate</a>. <br>
    - Utilizatorii trebuie să accepte <a href="/cookie-policy">Politica cookies</a>.
    </p>
    <p>
  Odată ce toate cerințele sunt îndeplinite și înregistrarea în Aplicație este finalizată, True Fine Coffee va furniza Utilizatorului confirmarea înregistrării, împreună cu orice alte informații necesare în conformitate cu legislația aplicabilă.
  Toți Utilizatorii care pot fi clasificați în conformitate cu legislația aplicabilă drept „consumatori” beneficiază și sunt protejați de toate legile și reglementările relevante privind protecția consumatorilor atunci când utilizează Aplicația. 
  </p>
</section>
<section>
  <h3>2.2. Profilul și responsabilitățile Utilizatorilor înregistrați</h3>
  <p>
    La înregistrarea în Aplicație, Utilizatorii trebuie să își aleagă numele de utilizator și parola.
    Atât numele de utilizator, cât și parola sunt strict confidențiale, personale și netransferabile.
    Pentru a crește securitatea conturilor se recomandă ca Utilizatorii să nu folosească aceleași date de acces și pentru alte platforme.
    În orice caz, True Fine Coffee nu garantează securitatea contului sau a profilului.
  </p>
  <p>
    Pentru a-și finaliza înregistrarea în Aplicație, Utilizatorii trebuie să furnizeze anumite detalii, precum: numele de utilizator,
    adresa e-mail, și detaliile cardului bancar, printre altele. După ce au finalizat procesul de înregistrare, toți Utilizatorii își vor putea accesa,
    completa și modifica profilul după cum consideră necesar. True Fine Coffee nu salvează datele de plată ale Utilizatorilor ce vor fi procesate și stocate
    de furnizorul de servicii de plată astfel cum este descris în acești Termeni generali și în Politica de confidențialitate.
  </p>
  <p>
    Utilizatorul garantează că toate informațiile privind identitatea și capacitatea sa furnizate către True Fine Coffee în formularele de
    înregistrare pentru Aplicație sunt adevărate, corecte și complete. Suplimentar, Utilizatorii se obligă să își păstreze detaliile personale
    actualizate. Dacă un Utilizator furnizează informații false, incorecte sau incomplete sau dacă True Fine Coffee consideră că există motive
    fondate să aibă îndoieli privind veridicitatea, exactitatea sau integritatea acestor informații, True Fine Coffee poate nega accesul actual
    sau viitor al Utilizatorului și utilizarea Aplicației sau a oricărui conținut și/sau servicii din aceasta.
  </p>
  <p>
    Utilizatorul se obligă să nu divulge detaliile contului personal sau să permită accesul la acesta unor terțe părți.
    Utilizatorii vor fi unicii responsabili pentru orice utilizare a acestor detalii sau a serviciilor de pe Site care ar
    putea fi făcute de terțe părți, inclusiv declarațiile și/sau conținuturile introduse în Aplicație sau orice acțiune efectuată
    prin folosirea numelui de utilizator sau a parolei. True Fine Coffee nu poate garanta identitatea Utilizatorilor înregistrați
    și, prin urmare, nu va fi responsabilă pentru utilizarea identității unui Utilizator înregistrat de către terțe părți neînregistrate.
    Utilizatorii se obligă să informeze imediat True Fine Coffee, folosind canalele de comunicare puse la dispoziție de către True Fine Coffee,
    dacă datele lor de acces le sunt furate, divulgate sau pierdute.
  </p>
</section>
<section>
  <h3>2.3. Obligațiile și responsabilitățile Utilizatorului</h3>
  <p>
    Utilizatorii sunt în totalitate responsabili pentru utilizarea adecvată și accesul la profilele personale și alt conținut din
    Aplicație în conformitate cu legislația actuală, indiferent dacă este națională sau internațională, a țării din care este utilizată Aplicația,
    precum și cu principiile de bună credință, morale, obiceiuri de obicei acceptate în mod obișnuit
    și cele de ordinea publică. În mod specific, aceștia se obligă să respecte cu strictețe acești Termeni generali de utilizare.
  </p>
  <p>
    Utilizatorii sunt unicii titulari ai conținutului introdus de aceștia în Aplicație. True Fine Coffee nu poate fi considerată
    că are o responsabilitate editorială și declară în mod expres că nu se identifică cu oricare dintre opiniile ce pot fi emise
    de Utilizatorii Aplicației, ale căror consecințe vor fi unica responsabilitate a emitenților.
  </p>
  <p>
    Utilizatorii se vor abține de la a folosi profilul personal și alt conținut al Aplicației în scopuri sau cu rezultate ilegale
    ce ar putea vătăma terțe părți și interese, sau care ar putea vătăma, dăuna, afecta sau deteriora Aplicația și conținutul și
    serviciile. Suplimentar, se interzice obstrucționarea normală sau folosirea de alți Utilizatori ai Aplicației.
  </p>
  <p>
    Orice persoane care încalcă obligațiile de mai sus vor fi unicele responsabile pentru orice pierdere sau daună provocată de către acestea.
    True Fine Coffee nu va accepta nicio răspundere pentru orice consecințe, pierdere sau deteriorare ce poate apărea din utilizarea sau accesul ilegal de către terțele părți.
  </p>
  <p>
    În general, Utilizatorii se obligă, de exemplu, dar fără limitare: <br>
    - să se abțină de la alterarea sau modificarea Aplicației, complet sau parțial, prin bypass, dezactivare sau în orice alt mod a modifica funcțiile sau serviciile; <br>
    - să se abțină de la încălcarea drepturilor de proprietate industrială și intelectuală sau a regulilor privind legislația de protecție a datelor cu caracter personal; <br>
    - să se abțină să folosească Aplicația pentru a insulta, defăima, intimida sau hărțui alți Utilizatori sau de a le ataca imaginea; <br>
    - să se abțină de la accesarea conturilor e-mail aparținând altor Utilizatori; <br>
    - să se abțină de la introducerea virușilor informatici, fișiere corupte sau orice alte programe software ce ar putea deteriora sau altera conținutul sau sistemele True Fine Coffee sau ale terțelor părți; <br>
    - să se abțină de la transmiterea mesajelor e-mail în masa și/sau recurente către mai multe persoane, sau de a transmite adresele e-mail a terțelor părți fără consimțământul acestora; <br>
  </p>
</section>
<section>
  <h3>
    2.4. Recenzii ale Utilizatorilor
  </h3>
  <p>
    True Fine Coffee poate colecta recenzii ale Utilizatorilor referitoare la anumite
    produse și își rezervă dreptul de a publica recenziile respective în Aplicație și
    de a le pune la dispoziția oricărui alt Utilizator, identificându-le prin prenumele Utilizatorului
    care a lăsat recenzia, totul în conformitate cu Politica de confidențialitate True Fine Coffee. 
    Utilizatorilor li se va cere prin intermediul Aplicației să furnizeze recenzia respectivă, numai
    în cazul în care au plasat o comandă prin intermediul Aplicației. Cu toate acestea, furnizarea va
    fi, totuși, complet voluntară pentru Utilizator, care poate sau nu să o furnizeze. Prin trimiterea
    unei recenzii, Utilizatorul acceptă colectarea și publicarea acesteia, dacă este cazul, de către True Fine Coffee. 
  </p>
</section>
<section>
  <h3>2.5. Furtul sau însușirea cardului de credit</h3>
  <p>
    Având în vedere că True Fine Coffee nu poate garanta identitatea Utilizatorilor înregistrați,
    aceștia au obligația de a informa True Fine Coffee dacă au dovezi privind furtul și/sau utilizarea
    frauduloasă de către o terță parte a cardului lor de credit asociat cu profilul True Fine Coffee.
    True Fine Coffee, împreună cu furnizorul de servicii de plată, va depune toate eforturile pentru a
    bloca alte plăți atunci când este informată în mod corespunzător de către Utilizator; cu toate acestea,
    True Fine Coffee nu va fi responsabilă pentru orice utilizare frauduloasă a acestora care poate fi făcută
    de către terți pe contul Utilizatorului și nu este obligată să facă nicio investigație cu privire la utilizarea
    frauduloasă a metodelor de plată ale Utilizatorilor de către terți și nici să blocheze orice tranzacție suspectă.
    True Fine Coffee sugerează ca Utilizatorii să raporteze Poliției orice furt jaf sau utilizare necorespunzătoare a cardului lor.
    Dacă este necesar, True Fine Coffee se angajează să asiste Utilizatorii și să colaboreze cu autoritățile competente, la nevoie,
    în furnizarea dovezilor fiabile privind taxele aplicate greșit. 
    În eventualitatea unei fraude, True Fine Coffee își rezervă dreptul de a întreprinde orice acțiune corespunzătoare
    dacă a fost afectată prin utilizarea necorespunzătoare a Aplicației.
  </p>
</section>
<section>
  <h3>2.6. Dezînregistrarea și anularea conturilor Utilizatorilor înregistrați</h3>
  <p>
    Utilizatorii se pot dezabona în mod voluntar de la Aplicație utilizând secțiunea de ajutor a Aplicației. 
    În plus, True Fine Coffee își rezervă dreptul de a suspenda și/sau de a anula conturile oricărui Utilizator în Aplicație
    în cazul în care constată că acesta a încetat să mai respecte toate cerințele de bază pentru înregistrare, precum și în
    cazul unei suspiciuni rezonabile de utilizare frauduloasă sau ilicită, inclusiv utilizarea contului de Utilizator într-un
    mod care contravine acestor Termeni generali.
  </p>
</section>
<section>
  <h2>3. Funcționarea serviciului
  </h2>
  <p>
    True Fine Coffee, în calitate de platformă tehnologică, permite tuturor Utilizatorilor (cei care sunt înregistrați în Aplicație dar și celor neînregistrați) să plaseze comenzi.
    Principalul scop al aplicației este de a facilita către utilizator o interfață grafică pentru a prezenta produsele disponibile în cafenea și caracteristicile acestora.
    Ca și scop secundar, aplicația poate prelua comenzi de produse de la utilizator prin plasarea acestora în coșul de cumpărături și achitarea integrală a acestora cu cardul bancar.
    Produsele achiziționate în aplicație sunt livrate către Utilizator doar în perimetrul Cafenelei așa cum este definită ea la punctul (1).
  </p>
</section>
<section>
  <h3>Beneficiile utilizatorilor înregistrați</h3>
  <p>
    Utilizatorii înregistrați și autentificați în momentul plasării unei comenzii, primesc în contul lor de utilizator 5 % (în Lei) din valoarea
    comenzii plasate și achitate cu cardul bancar prin intermediul Aplicației. (în continuare această bonificație va fi numită, “Cash-Back”).
    True Fine Coffee poate schimba oricând (sau chiar anula) valoarea procentului din Cash-Back fără a notifica în prealabil a utilizatorii.
    Utilizatorii înregistrați pot folosi valoarea adunată din Cash-Back pentru a achiziționa   parțial sau integral produsele oferite de Cafenea
    prin intermediul Aplicației. În cazul achiziționării parțiale cu Cash-Back, diferența de preț a produselor va trebui achitată cu cardul bancar.
  </p>
  <h3>Plasarea Comenzii</h3>
  <p>
    Pentru a putea plasa o comandă Utilizatorul: <br>
  - trebuie să fie de acord cu acești termeni și codiții; <br>
  - trebuie să completeze numărul mesei la care se afla astfel încât ospătarul cafenelei să știe unde să livreze comanda plasată. Aceste numere sunt unice și sunt inscripționate pe toate mesele disponibile în Cafenea. <br>
  Utilizatorul este responsabil pentru completarea corectă în Aplicație a numărului mesei la care se află cât și la verificarea produselor alese în coșului de cumpărături. True Fine Coffee nu răspunde pentru introducerea și transmiterea de către Utilizator prin intermediul Aplicației de date greșite.
  </p>
  <h3>Plata Comenzii</h3>
  <p>
    Pentru a putea fi procesată, comanda plasată trebuie achitată integral cu cardul bancar sau cu  Cash-Back (valabil doar pentru utilizatorii înregistrați în Aplicație).
  </p>
  <h3>Procesarea Comenzii</h3>
  <p>
    După ce plata a fost confirmată, comanda este preluată și procesată. În 20 de secunde, utilizatorul va primi un mesaj cu o estimare a timpului în care comanda plasată va ajunge la masă.
  </p>
</section>
<section>
  <h2>
    4. Responsabilități și garanții în legătură cu Aplicația
  </h2>
  <p>
    Utilizatorii sunt responsabili pentru deținerea serviciilor și echipamentelor necesare pentru navigare pe Internet și accesarea Aplicației. Utilizatorii pot raporta orice incidente sau probleme de accesare a Aplicației utilizând canalele de contact puse la dispoziția Utilizatorilor, iar True Fine Coffee va analiza incidentul și va informa Utilizatorul despre cum poate soluționa incidentul cât mai repede posibil.
    True Fine Coffee nu garantează absența erorilor sau întreruperilor la accesarea Aplicației sau a conținutului acesteia, sau că va fi întotdeauna actualizată. Prin urmare, True FIne Coffee nu va fi responsabilă pentru vreo întrerupere de serviciu, erori de conexiune, indisponibilitate sau erori ale acestuia, acces serviciu Internet sau întreruperi Internet sau pentru orice alte situații în afara controlului său. Considerând cele de mai sus, cu excepția circumstanțelor ce face dificilă sau imposibilă situația, True Fine Coffee va realiza toate etapele de a corecta astfel de erori, a restaura comunicarea și a actualiza conținutul imediat ce ia la cunoștință de erorile sau deconectarea serviciului ori dacă conținutul este neactualizat.
    True Fine Coffee nu acceptă vreo responsabilitate pentru erorile de securitate ce pot apărea sau pentru orice daună ce poate fi cauzată la sistemul computerului Utilizatorului (hardware și software) sau fișierelor ori documentelor salvate pe acestea, ca urmare a: <br>
   - prezenței unui virus în sistemul de operare al computerului Utilizatorului sau dispozitivul mobil utilizat pentru a conecta conținutul și serviciile Aplicației; <br>
   - unei erori de funcționare a browser-ului; <br>
   - utilizării versiunilor neactualizate. <br>
   Astfel, True Fine Coffee confirmă că a obținut toate licențele necesare pentru desfășurarea activității sale tehnologice.
  </p>
</section>
<section>
  <h2>5. Actualizări și Modificări ale Aplicației</h2>
  <p>
    True Fine Coffee își rezervă dreptul de a modifica în orice moment acești Termeni generali,
    Politica de confidențialitate și Politica cookies. True Fine Coffee va notifica în prealabil
    aceste modificări atunci când acestea sunt obligatorii, în conformitate cu legile aplicabile. 
    Suplimentar, True Fine Coffee își rezervă dreptul de actualiza, modifica sau șterge informațiile conținute în
    Aplicația sa, în orice moment și fără o notificare prealabilă cu excepția cazului în care este obligatorie prin legea aplicabilă, cu privire la aspectul acesteia, prezentarea și condițiile de accesare, fără a accepta vreo răspundere în acest sens. 
  </p>
</section>
<section>
  <h2>6. Proprietatea intelectuală</h2>
  <p>
    True Fine Coffee este proprietarul sau licențiatul tuturor drepturilor de proprietate intelectuală și industrială care se referă la software și la Aplicație, precum și la conținutul care poate fi accesat prin intermediul acesteia, care este încărcat în Aplicație de către True Fine Coffee. Aceste drepturi de proprietate intelectuală, precum și textul, imaginile, design-ul grafic, structura de navigare, informațiile și conținutul cuprins în aceasta sunt proprietatea True Fine Coffee, ce deține dreptul exclusiv de a exercita respectivele drepturi de exploatare în orice mod, în special drepturile de reproducere, distribuție, publicare și transformare, în conformitate cu legislația  privind drepturile de proprietate intelectuală și industrială. 
    Autorizarea unui Utilizator să acceseze Aplicația nu implică o renunțare, transfer, licențiere sau desemnare completă ori parțială de către True Fine Coffee a oricăror drepturi de proprietate intelectuală sau industrială. Ștergerea, derivarea sau în orice fel modificarea conținutului Aplicației sunt în totalitate interzise. Suplimentar, modificarea, copierea, reutilizarea, exploatarea, reproducerea, publicarea, publicarea secundară sau ulterioară, actualizarea fișierelor, transmiterea prin poștă, transmiterea, utilizarea, procesarea sau distribuirea în orice mod a întregului conținut sau parte a acestuia, inclusiv Aplicația True Meniu în scopuri publice sau comerciale sunt, de asemenea, interzise.
    Prin urmare, prin înregistrarea în Aplicație și acceptarea acestor Termeni generali, Utilizatorul acordă către True Fine Coffee, în legătură cu conținutul pe care l-ar putea furniza, o licență la nivel mondial, irevocabilă și transferabilă, gratuită, cu dreptul de sublicențiere, utilizare, copiere, modificare, crearea lucrărilor derivate, a distribui, publica și exploata în orice mod considerat oportun de către True Fine Coffee cu sau fără orice comunicare către Utilizator și fără a fi obligată să plătească vreo sumă pentru astfel de utilizări. Toate cele de mai sus se înțeleg ca acordând drepturile indicate numai în măsura maximă permisă de legislația aplicabilă. 
  </p>
</section>
<section>
  <h2>
    7. Asistență Clienți
  </h2>
  <p>
    Pentru orice întrebări, nelămuriri sau clarificări, Utilizatorii pot cere informații în Cafenea, pe adresa de mail office@truefinecoffee.ro sau la numărul de telefon 0753552492, disponibil de luni pana duminica de la ora 8:00-15:00.
  </p>
</section>
</ion-content>

