<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{title}}</ion-title>
    <ion-buttons slot="end" *ngIf="!onEdit">
      <ion-button expand="full" (click)="closeModal()">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterOptions()"></ion-searchbar>
  <ion-item *ngIf="prodIng">
    <ion-input
    type="text"
    placeholder="Name"
    [(ngModel)]="productName">
    </ion-input>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let ingredient of filteredOptions">
      <span class="ing-name">{{ ingredient.name }}</span>
      <ion-checkbox slot="start" [(ngModel)]="ingredient.selected" *ngIf="!onEdit"></ion-checkbox>
      <span class="label" *ngIf="ingredient.selected && !onEdit">g</span>
      <ion-input class="ing-input"
        type="number"
        placeholder="Qty"
        [(ngModel)]="ingredient.quantity"
        *ngIf="ingredient.selected">
      </ion-input>
      <ion-buttons *ngIf="onEdit">
        <ion-button color="danger" [strong]="true" (click)="presentAlert(ingredient.name, ingredient._id)"><ion-icon name="trash-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="editIngredient(ingredient._id)">
          <ion-icon  name="create-outline" style="color: black"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>

  </ion-toolbar>
</ion-footer>
