

<app-tab-header *ngIf="!emptyBasket"[title]="'Cart'"></app-tab-header>

<ion-content [fullscreen]="true">
  <ion-grid *ngIf="emptyBasket && !isLoading">
    <ion-row class="ion-no-padding">
      <ion-col size-xs="6" offset-xs="3" class="ion-text-center" style="margin-top:30%;">
        <img src="../../assets/icon/black-coffee.png" alt="Logo-true" id="logo-img">
        <p class="empty-basket">Cosul este gol.</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-timer *ngIf="isLoading"></app-timer>

  <!-- <div class="container"> -->


  <ion-grid class="bill" *ngIf="!isLoading && !emptyBasket && cart">
    <ion-row>
      <ion-col size-md="6" offset-md="3" size-lg="6" offset-lg="3">
        <ion-list class="ion-no-padding" *ngIf="cart">

          <ion-card *ngFor="let product of cart.products; let i = index" class="ion-no-padding ion-no-margin product-card">
            <ion-row class="ion-no-padding">
              <ion-col size="2" class="ion-no-padding">
                <ion-thumbnail class="product-image">
                  <img [src]="product.imgPath" alt="prduct image">
                </ion-thumbnail>
              </ion-col>
              <ion-col size="10">
                <ion-card-content class="ion-no-padding">
                <ion-item-sliding style="height:100%;">
                  <ion-item lines="none" class="ion-no-padding" color="tertiary">
                      <div style="display: flex; flex-direction: row; width: 100%; height: 60px; align-items: center; justify-content: center;">
                        <ion-label class="ion-text-wrap cart-prod-name" style=" flex: 50%; padding-right: 5px;">{{product.name}}</ion-label>
                        <ion-label class="ion-text-wrap cart-prod-qty" style="flex: 25%;">{{product.quantity}} X {{product.price}} Lei</ion-label>
                        <div class="cart-prod-total"style="flex: 21%">
                          <ion-label class="ion-text-wrap " >{{product.total}} Lei</ion-label>
                          <span style="font-size:11px; color:red;" *ngIf="product.discount > 0">-{{product.discount}} Lei</span>
                        </div>

                        <div class="wrapper">
                          <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                              <g id="prev" transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
                                  <polygon class="arrow" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                  <polygon class="arrow-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
                                  <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
                              </g>
                          </svg>
                        </div>
                      </div>
                    </ion-item>
                    <!-- <div *ngIf="product.discount > 0" style="display: flex; flex-direction: row; ">
                      <span style="flex: 60%; text-align: start;">Discount client</span>

                    </div> -->
                    <div class="options" *ngIf="product.toppings.length">
                      <div class="toppings-wrapper" *ngIf="!product.preOrder">
                        <ion-label *ngFor="let topping of product.toppings" class="toppings">+{{topping.name.split('/')[0]}}</ion-label>
                      </div>
                      <div class="toppings-wrapper" *ngIf="product.preOrder">
                        <ion-label *ngFor="let topping of product.toppings" class="toppings">{{topping.name+' '+product.name}}</ion-label>
                      </div>
                    </div>
                    <ion-item-options class="ion-no-padding" >
                      <ion-item-option (click)="add(i, product.name, product.category, product.sub, product.preOrder)">
                        <ion-icon name="add-outline"></ion-icon>
                      </ion-item-option>
                      <ion-item-option color="warning" (click)="red(i, product.name, product.category, product.sub)">
                        <ion-icon name="remove-outline"></ion-icon>
                      </ion-item-option>
                      <ion-item-option color="danger"(click)="remove(i, product.quantity, product.name, product.category, product.sub)">
                        <ion-icon name="trash-outline"></ion-icon>
                      </ion-item-option>
                    </ion-item-options>
                  </ion-item-sliding>
                </ion-card-content>
              </ion-col>
            </ion-row>
          </ion-card>






        <ion-item class="ion-no-padding">
          <ion-grid class="ion-no-padding">
            <ion-row class="ion-no-padding">
              <ion-col size-xs="12" class="ion-no-padding">
                    <ion-item class="ion-no-padding total-wrapper" color="tertiary">
                      <span class="total-text">TOTAL Produse</span>
                      <span class="ion-text-wrap total-value">{{productValue}} Lei</span>
                    </ion-item>
                  </ion-col>
              </ion-row>
              <ion-row class="ion-no-padding" *ngIf="tips">
                <ion-col size-xs="12" class="ion-no-padding">
                  <ion-item class="ion-no-padding total-wrapper" color="tertiary">
                    <span class="total-text light">TIPS</span>
                    <span class="ion-text-wrap total-value light">{{cart.tips}} Lei</span>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row class="ion-no-padding" *ngIf="showCashBack">
                <ion-col class="ion-no-padding">
                      <ion-item class="ion-no-padding total-wrapper" color="tertiary">
                        <span class="total-text light">CASH BACK</span>
                        <span class="ion-text-wrap total-value light">-{{cart.cashBack}} Lei</span>
                      </ion-item>
                    </ion-col>
                </ion-row>
              <ion-row class="ion-no-padding" *ngIf="cart.discount > 0">
                <ion-col class="ion-no-padding">
                      <ion-item class="ion-no-padding total-wrapper" color="tertiary">
                        <span class="total-text light" style="color:red;">DISCOUNT Client</span>
                        <span class="ion-text-wrap total-value light" style="color:red;">-{{cart.discount}} Lei</span>
                      </ion-item>
                    </ion-col>
                </ion-row>
              <ion-row class="ion-no-padding" *ngIf="tips || showCashBack || cart.discount > 0">
                <ion-col class="ion-no-padding">
                      <ion-item class="ion-no-padding total-wrapper" color="tertiary">
                        <span>TOTAL</span>
                        <span class="ion-text-wrap total">{{cart.total}} Lei</span>
                      </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
          </ion-item>
          <!-- <div class="space"></div> -->
          <!-- <ion-item class="ion-no-padding" color="tertiary" *ngIf="!pickUp">
            <span class="light">Introdu numărul mesei pentru a primi comanda!</span>
            <ion-input type="number" color="tertiary"   class="custom" [(ngModel)]="inputValue" placeholder="00" (input)="onInputChange($event)"></ion-input>
          </ion-item> -->
        </ion-list>
          <ion-row *ngIf="!this.cart.products[0].preOrder">
            <ion-col size-xs="12" class="ion-text-end">
                <div class="toGoPickUp-wrapper">
                  <ion-checkbox justify="end" labelPlacement="end" (ionChange)="selectPickUp($event)">La pachet!</ion-checkbox>
                </div>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="this.cart.products[0].preOrder">
            <ion-col size-xs="12" class="ion-text-end">
                <ion-button color="primary" expand="block" (click)="selectDate()" *ngIf="!pickUpDate">Selectează data de ridicare</ion-button>
                <ion-item lines="none" *ngIf="pickUpDate" color="tertiary">
                  <ion-label class="ion-text-center title"> Data de livrare este {{dateToShow}}</ion-label>
                </ion-item>
            </ion-col>
          </ion-row>

          <!-- <ion-row>
            <ion-col size-xs="12" class="ion-text-end">
                <div class="toGoPickUp-wrapper">
                  <ion-checkbox justify="end" labelPlacement="end" (ionChange)="selectToGo($event)">Vreau la pachet!</ion-checkbox>
                </div>
            </ion-col>
          </ion-row> -->
    <ion-row class="ion-no-padding">
      <ion-col size-xs="12" class="ion-text-end">
        <ion-button class="tips" id="tips" size="small" (click)="tipsModal()">Lasă tips</ion-button> <br>
        <ion-button class="tips" size="small" (click)="cashBackModal()" *ngIf="isLoggedIn">Folosește banii adunați</ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!isLoggedIn">
      <ion-col size-xs="12" class="ion-text-end">
          <div class="termeni-wrapper">
            <ion-checkbox justify="end" labelPlacement="end" (ionChange)="checked($event)">Am citit și sunt de acord cu</ion-checkbox>
            <a id="termeni" (click)="goTerms()">termenii și condițiile</a>
          </div>
      </ion-col>
    </ion-row>
    <ion-row class="cash-row">
      <ion-col size-xs="8" offset-xs="2" class="ion-text-center">
        <ion-button class="order" expand="full" [disabled]="!enableOrder" (click)="getToken()">COMANDĂ</ion-button>
      </ion-col>
    </ion-row>
    <div class="auth-wrapper">
      <ion-row style="margin-top: 10%;" *ngIf="!emptyBasket && !isLoggedIn">
        <ion-col size-xs="3" offset-xs="2" class="ion-text-end">
          <ion-button size="small" class="login"  (click)="onSignIn()">Login</ion-button>
        </ion-col>
        <ion-col size-xs="2">
          <span class="or">Or</span>
        </ion-col>
        <ion-col size-xs="3" class="ion-text-start">
          <span (click)="onRegister()" class="register">Register</span>
        </ion-col>
      </ion-row>
      <ion-row class="ion-text-center" *ngIf="!emptyBasket && !isLoggedIn">
        <ion-col>
          <p id="info-text">Pentru 5% cash-back la fiecare comandă!</p>
        </ion-col>
      </ion-row>
    </div>
  </ion-col>
</ion-row>
  </ion-grid>
<!-- </div> -->
</ion-content>
