<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Add Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterItems()"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let product of filteredItems" (click)="presentAlert(product.name, product._id)">
     <span>
      {{ product.name }}
     </span>
      <ion-thumbnail slot="end">
        <img [src]=" product.image.length ? product.image[0].path :  'https://res.cloudinary.com/dhetxk68c/image/upload/v1692369756/True/no_image_patrat_pt8iod.png'" alt="product-image">
      </ion-thumbnail>
    </ion-item>
  </ion-list>
</ion-content>
