<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/tabs/' + backTab" style="color: black" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      True Blend
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button>
        <img id="like" src="assets/icon/black-social-media.png" alt="icon">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <swiper-container slides-per-view="1" autoplay="true">
          <swiper-slide>Slide 1</swiper-slide>
          <swiper-slide>Slide 2</swiper-slide>
          <swiper-slide>Slide 3</swiper-slide>
        </swiper-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
