<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/tabs/cart'" class="dark"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button>
        <img id="like" src="assets/icon/black-social-media.png" alt="icon">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <section>
  <h1 class="ion-text-center">Politică de confidențialitate</h1>
  <h2>1. Obiectiv</h2>
  <h3>Angajamentul nostru</h3>
  <p>
    True Fine Coffee se angajează să respecte confidențialitatea Utilizatorilor site-ului (denumiți în comun în continuare
     „Subiectele datelor”) și să protejeze datele lor personale. În acest sens, scopul acestei Politici de confidențialitate
      este de a informa persoanele vizate cu privire la activitățile de prelucrare ale True Fine Coffee conform GDPR și cerințelor
      reglementărilor locale. 
  </p>
  <h3>Scopul Politicii de confidențialitate</h3>
  <p>
    Această Politică de confidențialitate oferă informații cu privire la prelucrarea datelor cu caracter personal ale Subiecților datelor care ne contactează prin intermediul formularului de contact disponibil pe site-ul nostru web, în conformitate cu Regulamentul general privind protecția datelor („GDPR”). 
  </p>
  <p>
    Această notificare privind Politica de confidențialitate descrie: modul în care True Fine Cofee colectează și procesează datele cu caracter personal, diferitele părți interesate implicate în această prelucrare, precum și drepturile persoanelor vizate cu privire la datele lor. 
  </p>
  <p class="bold">
    Recomandăm ca atât toate părțile interesate implicate în prelucrare, cât și persoanele vizate să citească cu atenție și în mod frecvent pentru a înțelege pe deplin acest lucru, împreună cu prezentarea noastră de ansamblu privind confidențialitatea, care evidențiază punctele cheie despre practicile noastre actuale de confidențialitate.
  </p>
  <p class="bold">
    True Fine Coffee nu își va modifica în niciun caz politicile sau practicile pentru a le face mai puțin eficiente în ceea ce privește protecția datelor cu caracter personal ale persoanelor vizate.
  </p>
</section>
<section>
  <h2>2.Rezumatul Informațiilor</h2>
  <div class="text-wrapper">
    <p>
      Operator de date
    </p>
    <p>
      SC Slayer Cup SRL, str Piata Unirii nr 7A, Iași
    </p>
  </div>
  <div class="text-wrapper">
    <p>
      Drepturile dumneavoastră
    </p>
    <p>
      Vă puteți exercita oricând drepturile legate de datele personale trimițându-ne un e-mail la gdpr@truefinecoffee.ro Drepturile dumneavoastră legate de datele personale: dreptul de acces, dreptul la rectificare, dreptul la ștergere, dreptul gratuit la opoziție în ceea ce privește prelucrarea, dreptul la opoziție pentru crearea de profiluri, dreptul de dezabonare de la orice comunicare de marketing
    </p>
  </div>
  <div class="text-wrapper">
    <p>
      Responsabil cu protecția datelor
    </p>
    <p>
      gdpr@truefinecoffee.ro
    </p>
  </div>
  <div class="text-wrapper">
    <p>
      În ce scop folosim datele dumneavoastră?
    </p>
    <p>
    Când sunteți Utilizator putem folosi datele dumneavoastră pentru: <br>
    - scopuri legale (de exemplu, în cazul fraudelor și infracțiunilor comise în aplicația noastră; pentru a respecta reglementările legale; pentru a gestiona cererile dvs., pentru a completa și/sau a apăra orice pretenții și acțiuni legale);  <br>
    - scopuri contractuale (de ex. acordați posibilitatea de a vă crea propriul cont, efectuați procesarea plăților, asistați în deciziile și utilizarea serviciului, vă punem la dispoziție un serviciu clienți, studiați utilizarea platformei efectuate de dvs., să vă pună la dispoziție echipamentele și materialele necesare pentru prestarea serviciilor); <br>
    - scopuri de securitate (de ex. folosiți dispozitivul, locația, profilul, utilizarea și alte date pentru a preveni și detecta activități rău intenționate sau nesigure, monitoriza toate acțiunile care ar putea provoca fraude, atunci când este solicitat de orice autoritate, administrație sau instanță, colabora cu autoritățile publice); <br>
    - statistici și scopuri de cercetare (de exemplu, analiza tendințelor, comportamentul și caracteristicile de cumpărare, înțelegerea modului în care utilizați Platforma noastră, trimiterea de chestionare voluntare și anonime, și sondaje, concursuri și comunicări de interes, efectuați calcule financiare); <br>
    - scopuri de marketing și non-marketing (de exemplu, desfășurarea activităților de marketing, comunicații, cercetare și dezvoltare, analizarea modului de îmbunătățire a serviciilor noastre, furnizarea de oferte, promoții, reduceri, sugestii, desfășurarea activităților promoționale pentru livrarea de mostre sau produse gratuite, generare și furnizarea de chitanțe, informarea despre orice incident în aplicație). <br>
    </p>
  </div>
  <div class="text-wrapper">
    <p>
      De ce putem face acest lucru?
    </p>
    <p>
      Interes legitim și cu consimțământul Utilizatorului/ Vizitatorului site-ului web.
    </p>
  </div>
  <div class="text-wrapper">
    <p>
      Cu cine împărtășim datele dvs.?
    </p>
    <p>
      Platforma de plată și furnizorii de servicii de plată; Furnizorii de servicii de telecomunicații; Furnizorii care prestează servicii de sondaj de satisfacție.
    </p>
  </div>
</section>
<section>
  <h2>3. Care sunt drepturile dumneavoastră privind datele personale?</h2>
  <p>Vă puteți exercita drepturile în mod gratuit în orice moment la adresa gdpr@truefinecoffee.ro.</p>
  <p>
    <span>Vă puteți exercita următoarele drepturi față de True Fine Coffee:</span>  <br>
    <span> 1. Dreptul de acces la datele personale</span> pentru a ști ce date sunt procesate și operațiunile de procesare a acestora; <br>
    <span>2. Dreptul de a corecta orice inexactități</span> în legătură cu datele dvs. personale; <br>
    <span>3. Dreptul la ștergerea datelor personale,</span>  acolo unde este posibil, prin trimiterea unei cereri de ștergere a datelor. <br>
    <span>4. Dreptul de a solicita restricția prelucrării datelor personale</span> atunci când este vorba despre exactitatea, legalitatea sau necesitatea prelucrării datelor, caz în care putem reține datele în scopul depunerii sau apărarea revendicărilor. <br>
    <span>5. Dreptul de a solicita portabilitatea datelor dumneavoastră</span> către un alt furnizor de servicii. Vă vom oferi o copie a datelor personale, astfel încât o puteți furniza altui furnizor de servicii. Dacă ne solicitați să facem acest lucru și este posibil din punct de vedere tehnic, vom transfera datele direct celuilalt furnizor de servicii în numele dumneavoastră. <br>
    <span>6. Dreptul de a vă opune prelucrării datelor dvs.</span>  personale pentru a rezolva orice întrebare pe care ne-ați adresat-o la adresa de email gdpr@truefinecoffee.ro. <br>
    <span>7. Dacă sunteți Utilizator</span> și nu doriți să nu primiți nici o comunicare de marketing, aveți <span>dreptul de a vă dezabona</span> de la orice comunicare de marketing, prin trimiterea unui e-mail sau folosind link-ul prevăzut în acest scop în fiecare comunicare comercială.
  </p>
</section>
<section>
  <h2>4. Care sunt scopurile de prelucrare a datelor și baza legitimă a prelucrării? </h2>
  <h4>True Fine Coffee va prelucra datele dumneavoastră cu caracter personal în următoarele scopuri:</h4>
  <p class="no-intend">
    1. În scopuri legale.<br>
    2. În scopuri contractuale.<br>
    3. În scopuri de securitate.<br>
    4. În scopuri statistice și de cercetare.<br>
    5. În scopuri comerciale și de marketing.<br>
    6. În scopuri non-marketing.
  </p>
  <h3>4.1.Scopuri legale</h3>
  <p>
    <h4>True Fine Coffee prelucrează datele personale pentru a:</h4>
    <p class="no-intend">
   <span>a)</span> detecta și investiga fraudele și posibilele infracțiuni comise împotriva Platformei noastre și a tuturor utilizatorilor;<br><br>
   <span>b)</span> respecta legislația în cazul în care orice reglementare legală ne obligă să vă păstrăm datele pentru o perioadă definită (consultați Anexa I privind păstrarea datelor);<br><br>
   <span>c)</span> gestiona și executa cererile dvs. de exercitare a drepturilor stabilite în GDPR și reglementările locale;<br><br>
   <span>d)</span> a introduce, depune și a vă apăra prin acțiuni în justiție împotriva oricărei entități a Grupului nostru;<br><br>
   <span>e)</span> în oricare dintre cazurile menționate mai sus, True Fine Coffee va avea dreptul de a utiliza orice date obținute de la dvs. sau rezultate din activitatea dvs. prin intermediul Platformei noastre în scopul depunerii și/sau apărării oricăror revendicări și/sau acțiuni legale care ar putea fi necesare și pentru a gestiona orice incidente apărute în legătură cu comenzile Utilizatorului.
  </p>
</section>
<section>
  <h3>4.2.Scopuri contractuale</h3>
  <p>
   <h4>True Fine Coffee prelucrează datele personale pentru a:</h4>
   <p class="no-intend">
   <span>a)</span> vă acorda posibilitatea de a vă crea propriul cont, <br> <br>
   <span>b)</span> vă furniza serviciile pe care le-ați solicitat și orice caracteristici suplimentare de pe Platformă; <br><br>
   <span>c)</span> a vă efectua procesarea și colectarea plăților dvs.; <br><br>
   <span>d)</span> a vă trimite chitanța corespunzătoare Comenzilor dumneavoastră; <br><br>
   <span>e)</span> a vă oferi un serviciu pentru clienți pentru a gestiona orice incident legat de Comenzile dumneavoastră și pentru a vă putea răspunde la întrebări sau consultări;<br><br>
   <span>f)</span> a procesa rambursări atât prin coduri promoționale, cât și prin rambursări bancare; <br><br>
   <span>g)</span> a vă anunța cu privire la modificări sau actualizări ale serviciilor noastre, termenilor și condițiilor, politica de confidențialitate, politica de cookie-uri și orice alt document corporativ care vă poate afecta în mod substanțial. <br><br>
  </p>
</section>
<section>
  <h3>4.3.Scopuri de securitate</h3>
  <p>
    True Fine Coffee prelucrează datele personale pentru a monitoriza toate acțiunile care ar putea provoca fraudă sau săvârșirea unei infracțiuni legate de metoda de plată folosită de dvs.; în cazul în care sunt detectate nereguli, True Fine Coffee își rezervă dreptul de a reține datele furnizate și de a le partaja autorităților competente în vederea efectuării investigației relevante;
  </p>
</section>
<section>
  <h3>4.4.În scopuri statistice și de cercetare</h3>
  <p>
   <h4>True Fine Coffee vă prelucrează statisticile pe baza datelor dumneavoastră personale pentru a:</h4>
   <p class="no-intend">
   <span>a)</span> analiza tendințele, comportamentul de cumpărare și caracteristicile; <br><br>
   <span>b)</span>  înțelege cum utilizați Platforma noastră; <br><br>
   <span>c)</span> gestiona și îmbunătăți serviciile oferite, inclusiv posibilitatea de a adăuga funcții și servicii noi sau diferite pentru a îmbunătăți calitatea serviciilor; <br><br>
  </p>
</section>
<section>
  <h3>4.5.În scopuri comerciale și de marketing</h3>
  <p>
   <h4>True Fine Coffee prelucrează datele personale pentru a:</h4>
   <p class="no-intend">
 <span>a)</span> desfășura activități de marketing, comunicare, cercetare și dezvoltare;<br><br>
 <span>b)</span> analiza și cerceta cum să ne îmbunătățim serviciile atât offline, cât și în Platformă, prin utilizarea datelor furnizate de dvs. (cum ar fi în focus grupuri, recenzii, evaluări ale serviciilor, sondaj de satisfacție, feedback sau orice fel etc.),<br><br>
 <span>c)</span> vă oferi oferte personalizate, promoții, reduceri, sugestii, vizualizări și opțiuni în aplicație, prin e-mail sau prin orice alt mijloc de comunicare, inclusiv utilizarea fișierelor cookie sau a altor tehnologii pentru publicitate pe site-uri web sau aplicații terțe, conform Politicii cookies și numai dacă ați fost de acord;
  </p>
</section>
<section>
  <h3>Scopuri non-marketing</h3>
  <p>
   <h4>True Fine Coffee prelucrează datele personale pentru a:</h4>
   <p class="no-intend">
<span>a)</span> genera și a vă furniza chitanțe pentru fiecare din Comenzile dvs. plasate prin Aplicația noastră,<br><br>
<span>b)</span> vă informa despre orice incident pe Platformă sau despre funcționarea serviciilor, inclusiv incidente legate de comenzile dumneavoastră. Aceste informații pot fi trimise prin e-mail sau prin mesaje SMS și prin orice altă aplicație de mesagerie, care poate fi utilizată de dvs. și de True Fine Coffee în orice moment;<br><br>
<span>c)</span> vă informa cu privire la orice modificări aduse Termenilor și condițiilor noastre, politicii de confidențialitate, politicii de cookie-uri, serviciilor și, în general, pentru a vă informa cu privire la orice comunicări relevante non-marketing;<br><br>
  </p>
</section>
<section>
  <h2>5. Ce fel de date deținem despre dvs. și cum sunt colectate datele cu caracter personal?</h2>
  <h4>True Fine Coffee deține următoarele date despre dumneavoastră:</h4>
  <p class="no-intend"><span>1. Informații furnizate direct de dumneavoastră:</span> <br><br>
   <span>1.1. Date de înregistrare:</span> informațiile furnizate de dvs. când creează un cont pe Platforma True Fine Coffee: utilizator și e-mail.<br><br>
   <span>1.2. Informații de profil ale Utilizatorului:</span> informațiile adăugate de dvs. în Platformă în vederea utilizării serviciului; de exemplu numărul de telefon mobil și adresa de email. Puteți vizualiza și edita datele personale din profilul dvs. oricând doriți. <br><br>
   <span>1.3. Informații suplimentare:</span> orice informații pe care le-ați putea furniza  în alte scopuri, de exemplu fotografia dvs. sau adresa de facturare în cazul în care ați solicitat să primiți facturi de la True Fine Coffee.<br><br>
   <span>1.4. Orice informații suplimentare</span> pe care le furnizați în solicitările, comentariile sau întrebările dvs.
  </p>
  <p class="no-intend"><span>2. Informații indirect furnizate de Utilizatori:</span> <br><br>
   <span>2.1. Date generate prin utilizarea Platformei:</span> True Fine Coffee colectează datele ce sunt generate din Utilizarea Platformei de fiecare dată când interacționează cu aceasta. <br> <br>
   <span> 2.2. Date privind aplicația și dispozitivul:</span>True Fine Coffee stochează date pe dispozitivul și Aplicația utilizată de dvs. pentru accesarea serviciilor: <br><br>
   <span>a)</span> adresa IP pe care o utilizați pentru a vă conecta la Internet cu ajutorul computerului sau telefonului mobil și pentru a preveni deturnarea frauduloasă sau accesul neautorizat la contul dumneavoastră de către terți;<br><br>
   <span>b)</span> informații despre computerul sau dispozitivul mobil dvs. personal, precum conexiunea de Internet, tipul browser-ului, versiunea și sistemul de operare, precum și tipul dispozitivului;<br><br>
   <span>c)</span> localizator uniform de resurse (URL) Clickstream (informațiile legate de navigarea dvs. prin site-ul nostru web sau aplicație, link-uri urmate etc.), inclusiv data și ora;<br><br>
   <span>d)</span>  date din contul dvs.: informații despre comenzile plasate, precum și feedback și/sau comentarii făcute de dvs.;<br><br>
   <span>e)</span> istoricul de navigare și preferințele dvs.<br><br>
    <span>2.3. Date generate din „cookies”:</span>True Fine Coffee folosește cookie-uri proprii și ale terților pentru a facilita navigarea de către utilizatori și în scopuri statistice, printre altele (consultați <a href="/cookie-policy">Politica de cookies</a> pentru mai multe detalii).
  </p>
</section>
<section>
  <h2>6. Cine sunt destinatarii datelor dumneavoastră și de ce le comunicăm?</h2>
  <p>
    True Fine Coffee garantează că toți partenerii săi comerciali, tehnicieni, furnizori sau terțe părți independente sunt obligați prin angajamente contractuale să proceseze informațiile partajate cu aceștia în conformitate cu indicațiile True Fine Coffee, această Politică de confidențialitate și legislația aplicabilă privind protecția datelor cu caracter personal. 
  </p>
  <p class="bold">
    Nu vom divulga date personale către terțe părți care nu acționează conform instrucțiunilor noastre și nicio comunicare nu va implica vânzarea, închirierea, transmiterea sau în orice alt mod divulgarea informațiilor personale ale clienților în scopuri comerciale, încălcând astfel angajamentele efectuate prin această Politică de confidențialitate.
  </p>
  <h4>6.1.Când se realizează o comandă, datele vor fi transmise către:</h4>
  <p class="no-intend">
    <span>a) Casier</span> care îndeplinește sarcina de procesare a comenzii. <br><br>
    <span>b) Barista / Bucătar</span> care preia comanda și o prepară. <br><br>
    <span>c) Runner</span> care preia comanda preparată și o transportă la masă. <br><br>
    <span>d) Platforma de plată și furnizorii de servicii de plată,</span> astfel încât suma poate fi încasată din contul dumneavoastră. <br><br>
    <span>e) Furnizorii de servicii de telecomunicații</span> atunci când aceștia sunt utilizați pentru a transmite comunicări cu privire la comenzile sau incidentele referitoare la comenzi. <br>
  </p>
  <h4>6.2.Partajarea datelor cu terțe părți:</h4>
  <p>Pentru a continua furnizarea serviciilor oferite prin intermediul Platformei, True Fine Coffee vă poate transmite datele personale către: <br><br>
   <span>a) Furnizori de servicii de plată:</span> Când vă introduceți numărul cardului în Aplicație, acesta este stocat direct de Platformele de plată contractate de True Fine Coffee, ceea ce permite ca plata să fie debitată din contul dumneavoastră. Furnizorii de servicii de plată au fost aleși pe baza măsurilor de securitate furnizate de aceștia și care respectă măsurile de securitate stipulate de legislația privind serviciile de plată, aceștia respectă regulamentele PCI conform Standardului de securitate a datelor pentru carduri de plată sau DSS PCI. True Fine Coffee în niciun caz nu stochează astfel de date. <br><br>
   <span>b) Furnizorii de servicii pentru de control împotriva fraudelor:</span> True Fine Coffee vă va partaja datele cu furnizorii de servicii de control împotriva fraudei pentru a evalua riscul tranzacțiilor îndeplinite. <br><br>
   <span>c) Companii de securitate și Autorități și agenții de aplicare a legii:</span> True Fine Coffee poate divulga datele cu caracter personal despre conturile clienților noștri dacă o astfel de dezvăluire este necesară pentru a respecta legea, de a executa sau aplica „Termenii de Utilizare” ori de a proteja drepturile, proprietatea sau siguranța True Fine Coffee, a utilizatorilor sau terțelor părți. Aceasta include schimbul de informații cu alte companii și organizații, precum și cu forțele și agențiile de aplicare a legii pentru a se proteja împotriva fraudei și a reduce riscul de credit. <br><br>
   <span>d) Terțe părți asociate cu True Fine Coffee în scopul comunicării comerciale:</span> True Fine Coffee vă poate transfera datele personale către terți asociați cu True Fine Coffee, cu condiția să vă fi dat consimțământul explicit, informat și neechivoc pentru un astfel de transfer de date și să cunoașteți scopul și destinatarul unui astfel de transfer. <br><br>
   <span>e) Schimbarea proprietății:</span> Dacă apartenența True Fine Coffee se schimbă sau majoritatea activelor sale sunt achiziționate de o terță parte, veți fi informat că True Fine Coffee vă va transfera datele către entitățile dobânditoare pentru a continua să furnizeze serviciile care fac obiectul procesării datelor.
  </p>
  <h4>
    6.3.Datele dvs. nu vor fi dezvăluite unei terțe părți decât dacă:
  </h4>
  <p class="no-intend">
   <span>a)</span> acest lucru este necesar pentru furnizarea serviciilor solicitate în cazul în care True Fine Coffee colaborează cu terți; sau <br><br>
   <span>b)</span> dacă True Fine Coffee are autorizarea dumneavoastră expresă și neechivocă; sau <br><br>
   <span>c)</span> în cazul în care acest lucru a fost solicitat de o autoritate competentă în conformitate cu funcțiile sale (pentru a investiga, a preveni sau a lua măsuri în legătură cu acțiunile ilegale); sau <br><br>
   <span>d)</span> în sfârșit, acolo unde prevede legea.
  </p>
</section>
</ion-content>

