ion-content{
  font-family: NoirProRegular !important;
}

ion-label{
  font-family: NoirProRegular !important;
}


img{
  height: 23px;
  width: 23px;
  margin-right: 15px;
}

.text{
  font-size: 22px;
}
