<form [formGroup]="form">
  <ion-content [fullscreen]="true" class="auth-wrapper">
    <div class="header">
      <h4 class="subtitle">Schimbă Parola</h4>
    </div>
    <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-input
            label="Password"
            labelPlacement="floating"
            type="password"
            formControlName="password"
            name="password"
            minlength="6" required
            [type]="getInputType()"
            ></ion-input>
            <ion-icon [name]="iconName" slot="end" (click)="togglePassword()"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-input
            label="Confirm Password"
            labelPlacement="floating"
            type="password"
            formControlName="confirmPassword"
            name="confirmPassword"
            minlength="6" required
            [type]="getInputType()"
            #confirmPassword
            ></ion-input>
            <ion-icon [name]="iconName" slot="end" (click)="togglePassword()"></ion-icon>
          </ion-item>
          <ion-note *ngIf="form.hasError('match_error')">
            Passwords don't match
          </ion-note>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button color="success" (click)="onSubmit()" class="ion-padding submit" size="large" expand="full" [disabled]="!form.valid">
            <ion-label>
             Schimbă parola
            </ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
      </ion-grid>
    </ion-content>
    </form>
