

<!-- <ion-content [fullscreen]="true"> -->
  <div class="container">
      <span class="message">Comanda dumneavoastră este procesată în...</span>
    <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    <div class="img-container">
      <img src="../../../assets/icon/logo brush.png" alt="logo">
    </div>
    <div class="count-container">
      <span class="counter">{{countdown}}</span>
    </div>
  </div>
<!-- </ion-content> -->
