
h3, h4, h5 p, span, div{
  font-family: NoirProLight !important;
  color: var(--ion-color-primary-contrast) !important;
}

h5{
  font-size: 15px;
  margin-bottom: 10px;
}

ion-title{
  --color: var(--ion-color-primary-contrast) !important;
}

ion-toolbar{
  --background: #f4ede6;
}
ion-content {
  --background: var(--ion-color-tertiary) !important;
}

#like{
  height: 35px;
  width: 35px;
  box-shadow: none !important;
}

.product-image{
  border-radius: 8px;
  height: 90%;
  box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.1);
}


.img-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius:5px;
  height: 35vh;
  padding: 0;
  width: 100%;
  background-color: rgba(197, 140, 83, 0.3)
}

.history-wrapper{
  width: 100%;
  white-space: normal;
}

p{
  font-size: 13px;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

}

.ing-title{
  margin-top: 0;
}

.content-wrapper{
  padding: 0 7px 0 12px;
}

.separator{
  width: 19px;
  height: 2px;
  border-radius:1px;
  margin-top: 15px;
  background-color: rgba(197, 140, 83, 0.5);
}


.ingredient-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:left;
}

.ingredient-wrapper div:last-child{
  font-size: 13px;
}

.box{
  width: 6px;
  height: 6px;
  border-radius:50%;
  background-color: rgba(197, 140, 83, 0.5);
  margin-right: 8px;
}

.prod-img{
  border-radius: 0;
  height: 100%;
  width: 45px;
}

ion-item{
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin-bottom: 8px;
}
ion-item span{
  font-family: NoirProLight !important;
  font-size: 20px;
  margin-left: 10px;
}

.val-wrapper{
  display: flex;
  flex-direction: column;
}

h4{
  margin-top:0;
  font-size: 17px;
  margin-bottom: 5px;
}

.parring-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.parring-title img {
  margin-left: 10px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  box-shadow: 0.5, 0.7, 0.7, 0.5 rgba(0,0,0,0.1);
  background-color: rgba(197, 140, 83, 0.6);
  cursor: pointer;
  margin-bottom: 10px;
}
.parring-title img:active{
  background-color: rgba(197, 140, 83, 0.3);
}


h3, h5{
  margin-top: 0;
}

.nutrition-title{
  font-family: NoirProLight !important;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-size: 21px;
  margin-bottom: 10px;
}
.nutrition-title p {
  font-size: 14px;
  margin: 0;
}

.ingredient-wrapper div{
  font-family: NoirProLight !important;
  font-size: 15px;
  white-space: nowrap;
}

ion-badge[slot="fixed"]{
  top: 2%;
  left:20px;
}

div[slot="fixed"]{
  top: 12%;
  right: 22px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  position:absolute;
  background-color: var(--ion-color-danger);
  box-shadow: 0.4px 0.6px 0.6px 0.4px rgba(0,0,0, 0.1);
}

.badge-wrapper img{
  position:relative;
  top:25%;
  left:26%;
  height: 23px;
  width: 23px;
}

.badge-wrapper:active{
  background-color: var(--ion-color-danger-tint);
}

.badge-wrapper span{
  box-shadow: 0.4px 0.6px 0.6px 0.4px rgba(0,0,0, 0.1);
  font-family: Arial, Helvetica, sans-serif !important;
  margin-bottom: auto;
  display: inline-block;
  border-radius: 50%;
  background-color:var(--ion-color-primary);
  color: white;
  padding: 4px 6px;
  position: relative;
  top: 2%;
  left: 30%;
  font-weight: bolder;
  font-size: 10px;
}



.cash-badge{
  background-color:var(--ion-color-primary);
  padding: 3px 6px;
  font-size: 15px;
}
ion-badge span{
  color: white;
  font-weight: 400;
}

.product-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f4ede6;
  border-radius: 20px;
  margin-bottom: 9px;
}

.product-wrapper div{
  flex: 70%;
  font-size: 20px;
  padding: 8px;
  cursor: pointer;
}


.trash{
  flex: 10%;
  font-size: 20px;
}
.trash:active{
 font-size: 22px;
}

.product-wrapper img{
  border-radius:0 !important;
  box-shadow: none !important;
  margin-right: 20px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}



.badge-prod{
  font-family: Arial, Helvetica, sans-serif !important;
  margin-top: auto;
  display: inline-block;
  border-radius: 50%;
  background-color:var(--ion-color-primary);
  color: white;
  padding: 3px 6px;
  position: relative;
  bottom: 20px;
  right: 25px;
  font-size: 10px !important;
  font-weight:bolder;
}

.long-description{
  font-size: 15px;
}


@media(min-width: 300px) and (max-width: 350px) and (max-height: 500px){
  .nutrition-title{
    font-size: 19px;
    white-space: nowrap;
  }

  h3{
    font-size: 19px;
  }
  .ingredient-wrapper div:last-child{
    font-size: 12px;
  }
}


@media(max-width: 300px){
  .ingredient-wrapper div:last-child{
    font-size: 11px;
  }
  .content-wrapper{
    padding:0;
  }
}

