<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/tabs/category-content/' + backTab" style="color: black" text=""></ion-back-button>
      <ion-button (click)="showActions()" *ngIf="isAdmin">
        <ion-icon  name="add-outline" style="color: black"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="product">{{product.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button>
        <img id="like" src="assets/icon/black-social-media.png" alt="icon">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="product">
  <ion-badge slot="fixed" class="cash-bagde" *ngIf="isLoggedIn">
      <span>{{user.cashBack}} lei</span>
    </ion-badge>
  <div class="badge-wrapper" slot="fixed">
    <img src="../../assets/icon/black-cart.png" alt="cart" (click)="saveProdToCart(product, -1)">
    <span *ngIf="product.quantity > 0">{{product.quantity}}</span>
  </div>
  <ion-grid>
<ion-row>
  <ion-col size-md="6" offset-md="3">
      <div class="img-wrapper">
        <img [src]="imagePath" alt="product-image" class="product-image">
      </div>
  </ion-col>
</ion-row>
<div class="content-wrapper">
<ion-grid>
<ion-row *ngIf="product.longDescription">
  <ion-col size-md="6" offset-md="3">
    <div class="history-wrapper">
      <div class="separator"></div>
      <h3>Descriere</h3>
      <ion-text *ngFor="let paragraph of description">
        <p class="long-description">{{paragraph}}</p>
      </ion-text>
    </div>
  </ion-col>
</ion-row>

<ion-row *ngIf="product.subProducts.length">
  <ion-col size-md="6" offset-md="3">
    <div class="separator"></div>
    <h3>Alege {{pickOption}}</h3>
    <div class="product-wrapper" *ngFor="let subProduct of product.subProducts let i=index">
      <div  (click)="goToCoffee(subProduct.name)">{{subProduct.name}}</div>
    </div>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size-md="6" offset-md="3" *ngIf="product.paring.length || isAdmin">
    <div class="separator"></div>
    <div class="parring-title">
      <h3>True Paring</h3>
      <img src="../../assets/icon/add-outline.svg" alt="add-svg" (click)="addProduct(product._id)" *ngIf="isAdmin">
    </div>
    <div>
    <h5>Merge bine împreună cu</h5>
    <div class="product-wrapper" *ngFor="let parProduct of product.paring; let i=index">
      <div (click)="navigateParProduct(parProduct._id, parProduct.category._id)">{{parProduct.name}}</div>
      <ion-icon name="trash-outline" color="danger" class="trash"(click)="presentAlert(parProduct.name, parProduct._id)" *ngIf="isAdmin"></ion-icon>
        <img src="../../assets/icon/black-cart.png" alt="cart" (click)="saveProdToCart(parProduct, i)">
        <span class="badge-prod" *ngIf="parProduct.quantity > 0">{{parProduct.quantity}}</span>
    </div>
    </div>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size-md="6" offset-md="3">
    <div class="separator"></div>
    <h3>Alergeni</h3>
    <ion-row>
      <ion-col size-xs="4" size-sm="3" *ngFor="let allergen of product.allergens">
        <div class="ingredient-wrapper">
          <div class="box"></div>
          <span>{{allergen.name}}</span>
        </div>
      </ion-col>
    </ion-row>

  </ion-col>
</ion-row>
<ion-row *ngIf="product.nutrition.energy.kcal > 0">
  <ion-col size-md="6" offset-md="3">
    <div class="separator"></div>
    <div class="nutrition-title">Declaratie nutrițională <p> 100g produs</p></div>

    <div class="ingredient-wrapper">
      <div class="box"></div>
      <div>Valoare energetică - {{product.nutrition.energy.kcal}} kcal / {{product.nutrition.energy.kJ}} kJ </div>
    </div>
    <div class="ingredient-wrapper">
      <div class="box"></div>
      <div>Grăsimi - {{product.nutrition.fat.all}} gr / din care acizi saturati - {{product.nutrition.fat.satAcids}} gr</div>
    </div>
    <div class="ingredient-wrapper">
      <div class="box"></div>
      <div>Gluciude - {{product.nutrition.carbs.all}} gr / din care zaharuri - {{product.nutrition.carbs.sugar}} gr</div>
    </div>
    <div class="ingredient-wrapper">
      <div class="box"></div>
      <div>Sare - {{product.nutrition.salts}} gr</div>
    </div>
    <div class="ingredient-wrapper">
      <div class="box"></div>
      <div>Proteine - {{product.nutrition.protein}} gr</div>
    </div>
    <div class="ingredient-wrapper" *ngIf="additives.length">
      <div class="box"></div>
      <div>Aditivi - {{additives}}</div>
    </div>
  </ion-col>
</ion-row>
</ion-grid>
</div>
  </ion-grid>
</ion-content>

