/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: 'NoirPro';    //This is what we are going to call
  src: url('./assets/font/NoirPro-Medium.woff');
}

@font-face {
  font-family: 'NoirProLight';    //This is what we are going to call
  src: url('./assets/font/NoirPro-Light.woff');
}

@font-face {
  font-family: 'NoirProRegular';    //This is what we are going to call
  src: url('./assets/font/NoirPro-Regular.woff');
}

body ion-alert.extraAlert{
  --width: 100% !important;

}

.md .option{
  .alert-radio-label{
    font-size: 15px !important;
   padding-inline-end: 5px !important;
   padding-inline-start: 15px !important;
  }
  .alert-radio-icon{
    inset-inline-start: 8px !important;
  }
}

