<ion-content [fullscreen]="true">
  <div class="container">
   <div class="content">
     <h1>Salut</h1>
     <p>A apărut o eroare la trimiterea emalului de verificare la adresa <span>{{email}}</span> <br>
       </p>
       <!-- <ion-button color="secondary">Mai trimite odată</ion-button> <br>
       <p>Sau? </p>
       <ion-button color="secondary">Schimbă adresa de mail</ion-button> -->
   </div>
   <div class="img-wrapper">
    <img src="../../../assets/icon/logo brush.png" alt="logo-true">
  </div>
  </div>
 </ion-content>
